GRAVITYBOT_DRY_RUN=true   # or false for production

# ORGANIZATIONAL SMTP SERVER CREDENTIALS
SMTP_HOST               = "<smtp.host.extension>"       # Your Orgs SMTP Host
SMTP_USER               = "<SMTP@email.org>"            # Org user email Credential
SMTP_PASS               = "<SMTP password>"             # Org SMTP Password
SMTP_FROM               = ""                            # Who should send the email?
SMTP_TO                 = "gravityspy@listserv.syr.edu"

# Azure OpenAI
AZURE_OPENAI_API_KEY=<your key>
AZURE_OPENAI_ENDPOINT=<your endpoint>
AZURE_OPENAI_API_VERSION=<your version>
AZURE_OPENAI_DEPLOYMENT=<your deployment>
AZURE_OPENAI_EMBEDDING_DEPLOYMENT=<your deployment>

# PANOPTES / ZOONIVERSE CREDENTIALS
PANOPTES_SLUG           = "zooniverse/<your-zooniverse-slug>"
PANOPTES_USER           = "<a-project-user-with-proper-data-access>"
PANOPTES_PASS           = "<the-above-users-password>"
PANOPTES_ID             = "<see: get_user_id.py>"
